:root {
    --text: #6c757d;
    --buttons: #727cf5;
    --boxbg: #fff;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e7e9eb;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  background-color: #343a40;
  border-style: none;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.title {
    margin-top: 30px;
    color: #6c757d;
    font-size: 70px;
}

.todays-date {
    margin-top: 15px;
    color: #6c757d;   
}

#search-location {
    margin: 150px 0 0 25px;

}

#search-button {
    background-color: #727cf5;
    border-radius: 40px;
    width: 100px;
}

#search-input {
    width: 900px;
    height: 80px;
    border-radius: 40px;
    color: var(--text);
    font-size: 30px;
    padding-left: 30px;
}

/* Today's Forecast */
#todays-temp-row {
  margin-top: 50px;
}

#todays-temp {
  border: none;
  height: 270px;
  margin-bottom: 20px;
  background-color: var(--boxbg);
}

#todays-uv-index {
  border: none;
  height: 125px;
  margin-bottom: 20px;
  background-color: var(--boxbg)
}

#todays-wind {
  border: none;
  height: 125px;
  background-color: var(--boxbg)
}

#todays-hourly {
  border: none;
  height: 270px;
  margin-top: 50px;
  background-color: var(--boxbg);
}

/* 5-Day Forecast */
#five-tomorrow {
  height: 270px;
  background-color: var(--boxbg);
  margin-top: 50px;
}

#five-day {
  height: 270px;
  background-color: var(--boxbg);
  margin-top: 30px;
  padding: 0px;
}

#five-inner {
  padding: 30px;
  margin: 0px 0px;
  background-color: var(--boxbg)
}

.day-box {
  background-color: #e7e9eb;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}