:root {
    --text: #6c757d;
    --buttons: #727cf5;
    --boxbg: #fff;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e7e9eb;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  background-color: #343a40;
  border-style: none;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.title {
    margin-top: 30px;
    color: #6c757d;
    font-size: 70px;
}

.todays-date {
    margin-top: 15px;
    color: var(--buttons);   
}

#search-location {
    margin: 150px 0 0 25px;

}

#search-button {
    background-color: #727cf5;
    border-radius: 40px;
    width: 100px;
}

#search-input {
    width: 900px;
    height: 80px;
    border-radius: 40px;
    color: var(--text);
    font-size: 30px;
    padding-left: 30px;
}

#todays-temp-row {
  margin-top: 50px;
}

#todays-temp {
  border: none;
  height: 291px;
  margin-bottom: 0px;
  background-color: var(--boxbg);
  padding: 20px;
  text-align: center;
}

#todays-uv-index {
  border: none;
  height: 125px;
  margin-bottom: 20px;
  background-color: var(--boxbg);
  text-align: center;
  padding: 20px;
}

.gray1 {
  color: white;
}

#todays-wind {
  border: none;
  height: fit-content;
  min-height: 125px;
  background-color: var(--boxbg);
  text-align: center;
  padding: 15px;
}

#todays-hourly {
  border: none;
  height: fit-content;
  min-height: 125px;
  margin-top: 50px;
  background-color: var(--boxbg);
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#five-tomorrow {
  height: fit-content;
  background-color: var(--boxbg);
  margin-top: 50px;
  padding: 20px;
}

#five-day {
  height: 270px;
  background-color: var(--boxbg);
  margin-top: 30px;
  padding: 0px;
  margin-bottom: 50px;
}

#five-inner {
  padding: 30px;
  margin: 0px 0px;
  background-color: var(--boxbg);
  margin-bottom: 50px;
}

.day-box {
  background-color: #e7e9eb;
  min-height: 250px;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  min-width: 100px;
}

#five-tomrrow {
  height: 270px;
  background-color: var(--boxbg);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

#five-day-row {
  margin-bottom: 50px;
}

#five-tomorrow-temp {
  text-align: center;
}

#five-tomorrow-details {
  text-align: center;
}

#five-tomorrow-inner {
  padding: 0px;
  margin: 0px 0px;
  background-color: var(--boxbg)
}

.additions {
  color: var(--text);
}

.titles {
  color: var(--buttons);
}

.small-titles {
  color: white;
}

.gray {
  color: var(--text);
}

ul {
  list-style-type: none;
  padding: 0;
}

.hour-box {
  font-size: 25px;
  padding-top: 35px;
}

#search-history {
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}

#todaysUVI {
  color: white;
}

#tomorrow-details {
  font-size: 23px;
}

#tomorrow-details li:nth-child(1) {
  color: white;
}

#day-3-ul li:nth-child(2) {
  color: white;
}

#day-4-ul li:nth-child(2) {
  color: white;
}

#day-5-ul li:nth-child(2) {
  color: white;
}

#day-2-ul li:nth-child(2) {
  color: white;
}

.hours {
  color: var(--text);
}

.history-list-class {
  color: var(--text);
}